.App {
    text-align: center;
    font-family: 'Notable', sans-serif;
}

.App-header {
    background-color: #500681f5;
    height: 100px;
    display: flex;
    flex-direction: colunm;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    font-family: 'Notable', sans-serif;

}

