.App {
    text-align: center;
    font-family: sans-serif;

  text-align: center;
}

.HeroImage{
  padding: 15%;
  background-image: url("https://i.imgur.com/bZj78qm.jpg");
   background-repeat: no-repeat; 
  background-size: cover;
  width: 70%;
 height: 25vh;
}


.App-header {
    background-color: #500681f5;
    height: 100px;
    display: flex;
    flex-direction: colunm;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    font-family: 'Notable', sans-serif;
}

